.hero {
    position: relative;
}
.banner-img {
    width: 100%;
    height: 100vh;
    object-fit: fill;
    mask-image: linear-gradient(to right, transparent, black 75%);
    -weblit-mask-image: linear-gradient(to right, transparent, black 75%)
}
.hero-caption {
    position: absolute;
    width: 100%;
    padding-right: 60%;
    bottom: 0;
}
.caption-img {
    width: 90%;
    max-width: 420px;
    margin-bottom: 30px;
}
.hero-caption p {
    max-width: 700px;
    font-size: 17px;
    margin-bottom: 20px;
}
.hero-btns{
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
}
.hero-btns .btn img {
    width: 25px;
}
.hero-btns .btn {
    border: 0;
    outline: 0;
    padding: 8px 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    background: white;
    border-radius: 4px;
    cursor: pointer;
}
.hero-btns .btn.dark-btn {
    background: #6d6d6eb3;
    color: #fff;
}
.hero-btns .btn:hover {
    background: #ffffffbf;
}
.hero-btns .btn.dark-btn:hover {
    background: #6d6d6e66;
}
